/*Спецификация*/
body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 15px;
	color: #304041;
	letter-spacing: 0.05em;
}

* {
	box-sizing: border-box;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	font-weight: 800;
}

p {
	margin: 0;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

.container_full-height {
	height: 100%;
	display: flex;
	align-items: center;	
}

a {
	text-decoration: none;
}

.btn {
	padding: 18px 0px;
	border-radius: 119px;
	font-size: 16px;
	font-weight: 800;
	display: block;
	margin: 0 auto;
	transition: all 0.5s ease;
	text-align: center;
}

.btn:hover {
	background: #FF5C00;
}

.btn-ghost {
	padding: 18px 0px;
	border: 1px solid #FF7E36;
	border-radius: 94px;
	color: #FF7E36;
	font-weight: 800;
	width: 332px;
}

.btn-ghost:hover {
	background: #FF7E36;
	border: 1px solid #FF7E36;
	border-radius: 94px;
	color: #fff;
}

.section-title {
	font-size: 30px;
	text-align: center;
}

/*Верстка первой секции*/

.header {
	background: linear-gradient(
180deg, rgb(255 255 255 / 0%) 1.39%, rgb(24 17 116 / 23%) 44.44%), url('../img/header.jpg') no-repeat center top / cover;
	text-align: center;
	color: #fff;
	padding: 90px 0 80px;
}

.logo {

}

.offer {
	margin: 201px 0 217px;
}

.offer__city_btn {
	padding: 8px 17px;
	color: #000000;
	font-size: 15px;
	background: #FFFFFF;
	border-radius: 78px;
	text-transform: uppercase;
	font-weight: 800;
	display: inline-block;
}

.offer__title {
	font-size: 60px;
	letter-spacing: 0.145em;
	margin: 24px 0;

}
.offer__text {
	font-size: 20px;
	margin-bottom: 24px;
	font-weight: 800;
}

.offer__btn {
	background: #FF7E36;
	color: #FFFFFF;
	width: 247px;
}

.arrow-down {
	background: url('..//img/arrow-down.svg');
	width: 18px;
	height: 27px;
	display: block;
	margin: 0 auto;
	opacity: 0.5;
	transition: all 0.5s ease;
}

.arrow-down:hover {
	opacity: 1;
}

/*Маршруты*/
.routes {
	padding-top: 143px;
}

.route  {
	margin-bottom: 100px;
}

.destinations {
	display: flex;
	height: 100%;
	margin-bottom: 90px;
	min-width: 649px;
	background: #EAF4F7;
}

.destinations__img img {
	border-radius: 0px 5px 5px 0px;
	object-fit: cover;
	width: 100%;
	height: 649px;
}

.destinations__item {
	display: block;
	width: 672px;
	padding: 112px 78px 113px 73px;
	background: #EAF4F7;
}

.destinations__route{
	color: #789AA0;
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 20px;
	display: inline-block;
}

.destinations__title {
	font-size: 24px;
	margin-bottom: 40px;
}
.destinations__desc {
	line-height: 1.63em;
}

.destinations__desc:not(:last-child) {
	margin-bottom: 40px;
}

.destinations__btn {
	background: url('../img/arrow-next.svg');
	width: 68px;
	height: 17px;
	display: flex;
	margin: 48px 450px 0 3px;
	opacity: 0.5;
	transition: all 0.5s ease;
}

.arrow-next:hover {
	opacity: 1;
}

/*Гид онлайн*/

.story {
	padding-top: 146px;
}

.section-title__story {
	text-align: center;
	font-size: 30px;
	margin-bottom: 93px;
}

.story-content {
	background: url('../img/history.jpg') no-repeat right top / 50%;
	height: 626px;
}

.story-content__list {

}

.story-content__item {
	font-size: 16px;
	width: 407px;
	position: relative;
	line-height: 1.22em;
	margin-bottom: 57px;
}

.story-content__item:before {
	content: '';
	display: block;
	width: 65px;
	height: 7px;
	background: #4EB1B6;
	border-radius: 23px;
	margin-bottom: 15px;
}

/*Футер*/

.footer {
	padding: 147px 0 165px;
}

.footer-content {
	display: flex;
}
.footer-content__text {
	font-size: 14px;
	color: #5C7677;
	margin-right: 60px;
}

